# ESSENTIALS
PROJECTNAME = HOTELMANAGEMENT
PORT = 8001

#MONGODB CONNECTION URI
MONGOURI = 

#JWT ENCRYPTION KEY
JWT_KEY = 

# NUMBER OF DEVICES AN ACCOUNT CAN LOGIN FROM
MAXCONCURRENTLOGINS = 1

# TOKEN EXPIRY TIMES (IN SECONDS) 
ACCESSEXPIRY = 300
REFRESHEXPIRY = 2592000

#OTP EXPIRY TIME
OTPVALIDINMIN = 5